<section class="contato">
  <article class="contato__left">
    <h1 class="contato__left__title">contato.</h1>
    <p class="contato__left__text">Escolha a melhor forma de conversarmos</p>
    <ul class="contato__left__social-medias">
      <li class="contato__left__social-media">
        <div
          id="redes"
          (mouseover)="showSpan01(true)"
          (mouseleave)="showSpan01(false)"
          class="min-width"
        >
          <a href="https://www.linkedin.com/in/rafaelly-lemos/" target="_blank"
            ><img
              src="../../../assets/icons/linkedin-black.svg"
              alt="Linkedin"
            />
            <span *ngIf="isSpan01">Linkedin</span></a
          >
        </div>
      </li>
      <div class="contato__left__social-media">
        <div
          id="redes"
          (mouseover)="showSpan02(true)"
          (mouseleave)="showSpan02(false)"
          class="min-width"
        >
          <a href="mailto:rafaellylemos@hotmail.com" target="_blank">
            <img src="../../../assets/icons/email.svg" alt="Email" />
            <span *ngIf="isSpan02">E-mail</span></a
          >
        </div>
      </div>
    </ul>
  </article>
  <aside class="contato__right">
    <figure>
      <img src="../../../assets/images/rafaelly.jpg" alt="" />
    </figure>
  </aside>
</section>
