<div class="jobs">
    <p class="jobs__text">Últimos Trabalhos</p>
    <div class="jobs__container">
        <div class="jobs__job">
            <app-job-card [img]="'iclproject.png'" >
               <p>Inglês com Lila</p>
               <span>code</span>
            </app-job-card>
        </div>
        <div class="jobs__job">
            <app-job-card [img]="'golinks.png'" >
                <p>My Links</p>
                <span>code</span>
             </app-job-card>
        </div>
        <div class="jobs__job">
            <app-job-card [img]="'lisheytor.png'">
                <p>Lis + Heytor</p>
                <span>photo</span>
             </app-job-card>
        </div>
    </div>
</div>
