<section class="jobs">
  <h2 class="jobs__text">Últimos Trabalhos</h2>
  <div class="jobs__container">
    <article class="jobs__job">
      <app-job-card [img]="'iclproject.png'">
        <h3>Inglês com Lila</h3>
        <span>code</span>
      </app-job-card>
    </article>
    <article class="jobs__job">
      <app-job-card [img]="'golinks.png'">
        <h3>My Links</h3>
        <span>code</span>
      </app-job-card>
    </article>
    <article class="jobs__job">
      <app-job-card [img]="'lisheytor.png'">
        <h3>Lis + Heytor</h3>
        <span>photo</span>
      </app-job-card>
    </article>
  </div>
</section>
