<footer class="footer">
  <div
    title="Todos os direitos reservados - All rights reserved"
    class="footer__left"
  >
    ©2024 Rafaelly Lemos
  </div>
  <nav class="footer__right">
    <ul class="footer__right__options">
      <li class="footer__right__option" (click)="navigateToSobre()">sobre</li>
      <li class="footer__right__option" (click)="navigateToBlog()">blog</li>
      <li class="footer__right__option" (click)="navigateToContato()">
        contato
      </li>
    </ul>
  </nav>
</footer>
