<section class="footer">
    <div title="Todos os direitos reservados - All rights reserved" class="footer__left">
        ©2024 Rafaelly Lemos
    </div>
    <div class="footer__right">
        <div class="footer__right__options">
            <div class="footer__right__option" (click)="navigateToSobre()">sobre</div>
            <div class="footer__right__option" (click)="navigateToBlog()">blog</div>
            <div class="footer__right__option" (click)="navigateToContato()">contato</div>
          </div>
    </div>
</section>
