<section class="sobre">
  <div class="sobre__left">
    <h1>sobre.</h1>
    <p>Fotógrafa e Desenvolvedora Frontend.</p>
    <span
      >Sou graduada em Fotografia pela Universidade Católica de Pernambuco
      atuando na área desde 2014. Atualmente, estou em transição de carreira
      para desenvolvimento web, sendo graduanda do curso de Análise e
      Desenvolvimento de Sistemas pela Universidade Maurício de Nassau e
      desenvolvendo projetos já há 1 ano.</span
    >
  </div>
  <div class="sobre__right">
    <img src="../../../assets/images/rafaelly.jpg" alt="" />
  </div>
</section>
<section class="sobre__job">
  <article class="sobre__job__info" id="foto">
    <h2>Parte Fotógrafa</h2>
    <ul>
      <li>Fotojornalismo</li>
      <li>Momentos decisivos</li>
      <li>Direção espontânea</li>
      <li>"Herança familiar"</li>
    </ul>
  </article>
  <div class="sobre__job__img">
    <img src="../../../assets/images/grafico.png" alt="" />
  </div>
  <article class="sobre__job__info" id="dev">
    <h2>Parte Dev</h2>
    <ul>
      <li>Desenvolvimento Frontend</li>
      <li>HTML/CSS/JavaScript</li>
      <li>Angular</li>
      <li>Clean Code</li>
      <li>"Código limpo e eficiente"</li>
    </ul>
  </article>
</section>
<section class="sobre__facts">
  <div class="sobre__facts__img">
    <img src="../../../assets/images/randomfacts.png" alt="" />
  </div>
  <div class="sobre__facts__text">
    <h2>Radom Facts</h2>
    <ul>
      <li>Adoro tatuagens e sushi</li>
      <li>Minha banda favorita é Deftones</li>
      <li>Café primeiro, cerveja depois</li>
      <li>A louca das plantas</li>
      <li>Colagista nas horas vagas</li>
      <li>Tenho uns sonhos estranhos</li>
    </ul>
  </div>
</section>
<section class="sobre__skills">
  <h2 class="sobre__skills__text">Habilidades</h2>
  <div class="sobre__skills__graphic">
    <img src="../../../assets/images/graficoskills.png" alt="" />
  </div>
</section>
<div class="sobre__blog-time--h2mobile">
  <h2>"You can call me Rafa!"</h2>
</div>
<section class="sobre__blog-time">
  <div class="sobre__blog-time--lineDivision">
    <div class="sobre__blog-time__left">
      <h2>"You can call me Rafa!"</h2>
      <p>
        Ok, você já conhece a profissional Rafaelly Lemos. Que tal conhecer
        agora a Rafa (aquela menina meio doidinha que adora sair pra conhecer
        bares, jogar conversa fora, viajar e que ama sua família, amigos e a
        arte de uma forma em geral)?
      </p>
      <button (click)="navigateToBlog()">Vem ler meu blog!</button>
      <button (click)="navigateToBlog()">Leia meu blog!</button>
    </div>
    <div class="sobre__blog-time__right">
      <figure class="sobre__blog-time__right__img">
        <img src="../../../assets/images/Rafaelly03.png" alt="" />
      </figure>
      <figure class="sobre__blog-time__right__img">
        <img src="../../../assets/images/Rafaelly02.png" alt="" />
      </figure>
      <figure class="sobre__blog-time__right__img">
        <img src="../../../assets/images/Rafaelly01.png" alt="" />
      </figure>
    </div>
  </div>
    <div class="sobre__blog-time__right__arrow">
      <app-arrow-up (click)="scrollToTop()"/>
    </div>
</section>
