.sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  font-family: "Inter", sans-serif;
  border-bottom: 1px solid black;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  padding: 4rem 0;

  &__right {
    border: 1px solid black;
    padding: 10px;
    border-radius: 80px 10px;
    width: 18rem;
    height: 25rem;
    margin: 3rem;

    img {
      width: 20rem;
      border-radius: 80px 10px;
    }
  }

  &__right:hover {
    border: 3px solid #e53939;
  }

  &__left {
    margin-left: 3rem;
    width: 50vh;
    text-align: justify;

    h1 {
      margin: 2rem 0;
      font-size: 60px;
      font-weight: 400;
      letter-spacing: 1rem;
      color: #e53939;
    }

    p {
      text-transform: uppercase;
      font-weight: bold;
    }

    span,
    p {
      line-height: 2;
      letter-spacing: 0.1rem;
    }
  }

  &__job {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 2rem;
    border-bottom: 1px solid black;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

    img {
      width: 600px;
    }

    &__info {
      font-family: "Inter", sans-serif;

      h2 {
        color: #e53939;
        font-size: 35px;
        letter-spacing: 0.5rem;
        margin: 1rem;
      }

      ul {
        list-style-type: none;
        margin: 1rem;
      }

      ul li {
        font-size: 18px;
        line-height: 2.5rem;
        letter-spacing: 0.2rem;
      }
    }
  }

  &__facts {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Inter", sans-serif;
    padding: 10rem 0;
    border-bottom: 1px solid black;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

    &__img {
      img {
        width: 600px;
      }
    }

    &__text {
      h2 {
        color: #e53939;
        font-size: 40px;
        letter-spacing: 0.5rem;
        margin: 1rem;
      }

      ul {
        list-style-type: none;
        margin: 1rem;
      }

      ul li {
        font-size: 20px;
        font-weight: 200;
        line-height: 2.5rem;
        letter-spacing: 0.2rem;
      }
    }
  }

  &__skills {
    display: flex;
    flex-direction: column;
    padding: 8rem 2rem;
    font-family: "Inter", sans-serif;
    border-bottom: 1px solid black;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

    &__text {
      display: flex;
      justify-content: end;
      align-items: end;
      margin-right: 12rem;
      font-size: 40px;
      color: #e53939;
      font-weight: 400;
      letter-spacing: 0.5rem;
    }

    &__graphic {
      display: flex;
      justify-content: center;

      img {
        width: 1200px;
      }
    }
  }

  &__blog-time {
    display: flex;
    margin: 10rem 3rem;
    font-family: "Inter", sans-serif;
    justify-content: center;
    align-items: center;

    &__left {
      width: 100%;
      margin-left: 30px;
      h2 {
        font-size: 30px;
        color: #e53939;
        font-weight: 400;
        letter-spacing: 0.5rem;
        margin: 30px;
        justify-content: center;
        text-align: justify;
      }

      p {
        width: 67%;
        margin: 30px;
        text-align: justify;
        letter-spacing: 0.2rem;
        font-weight: 200;
        font-size: 16px;
        line-height: 1.8rem;
      }

      button {
        margin-left: 30px;
        justify-content: center;
        text-align: justify;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        background-color: transparent;
        border: none;
        color: #000;
      }

      button:hover {
        color: #e53939;
        cursor: pointer;
      }

      button:nth-of-type(2) {
        display: none;
      }
    }

    &__right {
      display: flex;
      position: relative;
      width: 300px;
      height: 300px;
      margin: 0 5rem;

      &__img {
        position: absolute;
        left: 0;
        transition: all 0.3s ease;

        img {
          width: 300px;
          height: 300px;
          object-fit: cover;
          border: 3px solid white;
        }
      }
    }
  }

  &__blog-time--h2mobile {
    display: none;
  }

  &__blog-time--buttonmobile {
    display: none;
  }

  &__blog-time--lineDivision {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
  }
}

.sobre__blog-time__right__img:nth-child(2) {
  left: -100px;
  z-index: 2;
}

.sobre__blog-time__right__img:nth-child(3) {
  left: -200px;
  z-index: 3;
}

.sobre__blog-time__right__img:hover {
  z-index: 4;
  transform: scale(1.1);
}

app-arrow-up {
  display: none;
}

@media screen and (max-width: 1200px) {
  .sobre {
    margin: 0;
    padding: 4rem 0;

    &__job {
      flex-direction: column;
      gap: 0;
      padding: 6rem 2rem;
      margin: 0;

      article:nth-of-type(1) {
        align-self: self-start;
      }

      article:nth-of-type(2) {
        align-self: self-end;
      }

      &__img {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }

    &__facts {
      width: 100%;

      &__img {
        img {
          width: 500px;
        }
      }

      &__text {
        margin-left: 1rem;

        ul li {
          font-size: 18px;
        }
      }
    }

    &__skills {
      padding: 6rem;
      margin: 0;

      &__graphic {
        img {
          width: 900px;
        }
      }

      &__text {
        margin-right: 0;
      }
    }

    &__blog-time {
      &__right {
        &__img {
          img {
            width: 250px;
            height: 250px;
          }
        }
      }

      &__left {
        margin-left: 0;

        h2 {
          letter-spacing: 0.2rem;
          margin: 0px;
        }
      }
    }

    &__blog-time--h2mobile {
      h2 {
        display: none;
      }
    }

    &__blog-time--lineDivision {
      align-items: center;
    }
  }
}

@media screen and (max-width: 950px) {
  .sobre {
    &__job {
      flex-direction: column;
      gap: 0;
      padding: 6rem 2rem;
      margin: 0;

      article:nth-of-type(1) {
        align-self: self-start;
      }

      article:nth-of-type(2) {
        align-self: self-end;
      }

      &__img {
        width: 100%;
      }
    }

    &__facts {
      padding: 10rem 0;

      &__img {
        img {
          width: 400px;
        }
      }

      &__text {
        h2 {
          font-size: 35px;
        }

        ul li {
          font-size: 17px;
        }
      }
    }

    &__skills {
      margin: 0;
      padding: 10rem 0;

      &__graphic {
        img {
          width: 700px;
        }
      }
    }

    &__blog-time {
      margin: 2.5rem 0;
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 5rem;

      &__left {
        margin: 2.8rem 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        div:nth-of-type(1) h2 {
          display: flex;
        }

        p {
          width: auto;
          margin: 3rem 0;
          letter-spacing: 0.3rem;
          font-size: 16px;
          line-height: 2rem;
        }

        button:nth-of-type(1) {
          display: none;
        }

        button:nth-of-type(2) {
          display: flex;
          font-size: 14px;
          margin: 2rem 0 0 0;
          justify-content: center;
          align-items: center;
          width: 140px;
          height: 40px;
          background-color: #e53939;
        }

        button:nth-of-type(2) {
          display: flex;
          font-size: 13px;
          margin: 2rem 0 0 0;
          justify-content: center;
          align-items: center;
          width: 140px;
          height: 40px;
          background-color: #e53939;

          button:active,
          button:focus {
            color: #fff;
          }
        }
      }

      &__right {
        display: flex;
        flex-direction: column;
        margin: 0 2.8rem 0 0;
        align-items: center;
        justify-content: space-evenly;
        height: auto;

        &__img {
          position: relative;

          img {
            width: 30vw;
            height: 30vw;
          }
        }
      }
    }

    &__blog-time--h2mobile {
      h2 {
        display: none;
      }
    }

    &__blog-time--lineDivision {
      display: flex;
      flex-direction: row;
    }

    &__blog-time__right__img:nth-child(2) {
      left: 0;
    }

    &__blog-time__right__img:nth-child(3) {
      left: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .sobre {
    flex-direction: column-reverse;
    gap: 0;
    align-items: center;
    margin: 0;
    padding-bottom: 2.5rem;
    padding-top: 0;

    &__left {
      margin: 0 2.5rem;
      width: auto;
      flex: 1;

      h1 {
        text-align: center;
        font-size: 40px;
      }

      p {
        text-align: center;
        line-height: 1.5rem;
        margin-bottom: 1rem;
      }

      span {
        font-size: 14px;
      }
    }

    &__right {
      width: 10rem;
      height: 15rem;
      flex: 1;

      img {
        width: 12rem;
      }
    }

    &__job {
      display: flex;
      flex-direction: column;
      gap: 0;
      margin: 3rem 0;

      &__img {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: row;

        img {
          width: 100%;
        }
      }

      &__info {
        width: 100%;

        ul {
          margin: 1rem 1.5rem;
          li {
            font-size: 17px;
            line-height: 2rem;
            letter-spacing: 0.2rem;
          }
        }
      }

      article:nth-of-type(2) {
        text-align: end;
      }
    }

    &__facts {
      display: flex;
      flex-direction: column;
      margin: 2.5rem 0;

      &__img {
        img {
          width: 85vw;
        }
      }

      &__text {
        margin-left: 0;
        
        h2 {
          font-size: 35px;
          margin-bottom: 2rem;
          text-align: center;
        }

        ul {
          text-align: center;

          li {
            font-size: 17px;
            line-height: 2rem;
          }
        }
      }
    }

    &__skills {
      width: 100vw;
      margin: 5rem 0;

      h2 {
        justify-content: end;
        margin: 3rem 1rem 0rem;
        font-size: 15px;
        letter-spacing: 0.4rem;
      }
      &__graphic {
        img {
          width: 80vw;
        }
      }
    }

    &__blog-time {
      margin: 0;
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 5rem;

      div:nth-of-type(1) h2 {
        display: none;
      }

      &__left {
        margin-left: 2.8rem;
        margin-right: 0.5rem;

        p {
          width: auto;
          margin: 1rem;
          letter-spacing: 0.2rem;
          font-size: 16px;
          line-height: 2rem;
        }

        button:nth-of-type(1) {
          display: none;
        }

        button:nth-of-type(2) {
          display: flex;
          font-size: 14px;
          margin: 2rem 0 0 0;
          justify-content: center;
          align-items: center;
          width: 140px;
          height: 40px;
          color: #000;
          background-color: #e53939;
        }

        button:nth-of-type(2) {
          display: flex;
          font-size: 13px;
          margin: 2rem 0 0 0;
          justify-content: center;
          align-items: center;
          width: 140px;
          height: 40px;
          background-color: #e53939;

          button:active,
          button:focus {
            color: #fff;
          }
        }
      }

      &__right {
        display: flex;
        flex-direction: column;
        margin: 0 1rem 0 0;
        align-items: center;
        justify-content: space-evenly;
        height: auto;

        &__img {
          position: relative;

          img {
            width: 30vw;
            height: 30vw;
          }
        }
      }
    }

    &__blog-time--lineDivision {
      display: flex;
      flex-direction: row;
      width: 100vw;
    }

    &__blog-time__right__img:nth-child(2) {
      left: 0;
    }

    &__blog-time__right__img:nth-child(3) {
      left: 0;
    }

    &__blog-time--h2mobile {
      display: flex;
      justify-content: center;

      h2 {
        font-size: 30px;
        color: #e53939;
        font-weight: 200;
        margin: 13px;
        justify-content: center;
        display: flex;
      }
    }
  }

  app-arrow-up {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .sobre {
    &__blog-time {
      &__left {
        p {
          font-size: 14px;
          line-height: 1.2rem;
        }
      }

      &__right {
        gap: 1rem;
      }
    }
  }
}
