<header class="header">
  <div class="header__left">
    <a href="/"
      ><img
        title="Rafaelly Lemos"
        src="../../../assets/images/logo.png"
        alt="Logo Rafaelly Lemos"
    /></a>
  </div>
  <div class="header__right">
    <ul class="header__right__options">
      <li class="header__right__option">
        <button (click)="navigateToSobre()">sobre</button>
      </li>
      <li class="header__right__option">
        <button (click)="navigateToBlog()">blog</button>
      </li>
      <li class="header__right__option">
        <button (click)="navigateToContato()">contato</button>
      </li>
    </ul>
    <ul class="header__right__social-medias">
      <li class="header__right__social-media">
        <a href="https://www.linkedin.com/in/rafaelly-lemos/" target="_blank"
          ><img src="../../../assets/icons/linkedin.svg" alt="Linkedin"
        /></a>
      </li>
      <li class="header__right__social-media">
        <a href="https://github.com/rafaellylemos" target="_blank"
          ><img src="../../../assets/icons/github.svg" alt="Github"
        /></a>
      </li>
      <li class="header__right__social-media">
        <a
          href="https://www.instagram.com/rafaellylemosfotografia/"
          target="_blank"
        >
          <img src="../../../assets/icons/instagram.svg" alt="Instagram"
        /></a>
      </li>
      <li class="header__right__social-media">
        <a
          href="https://open.spotify.com/user/oiuoo8l3sohx6gbdb7w23b3b6"
          target="_blank"
          ><img src="../../../assets/icons/spotify.svg" alt="Spotify"
        /></a>
      </li>
    </ul>
  </div>
</header>
