<section class="blog">
  <article class="blog__title">
    <h1>Hello, world!</h1>
    <h2>Vamos começar do começo</h2>

    <app-personal-info [date]="'22 Ago 2024'" />
  </article>

  <article class="blog__content">
    <app-post
      [img01]="'BlogRafa03.jpeg'"
      [img02]="'BlogRafa02.jpeg'"
      [img03]="'BlogRafa01.jpeg'"
      [img04]="'BlogRafa04.jpeg'"
      [img05]="'BlogRafa05.jpeg'"
      [img06]="'BlogRafa06.jpeg'"
    >
        <p>Rafaelly Lemos. 34 anos, nordestina, mãe solo.</p>
        <p>
          Trabalho desde 18 anos com fotografia e, honestamente? Achei que
          morreria assim, rs.
        </p>
        <p>
          Amo artes. Sou fotógrafa por profissão e paixão. Mas, em 2022, por
          motivos pessoais, minha vida virou de ponta-cabeça...e foi exatamente
          ai que eu esbarrei no mundo da programação. Mais exatamente no
          Desenvolvimento Frontend.
        </p>
        <p>
          Na adolescência, já havia tido contato com HTML básico e um pouco de
          CSS (com os famosos blogs com templates prontos, rs), então, quando me
          deparei com o Frontend, já sabia exatamente o que eu queria fazer!
        </p>
        <p>
          Hoje, me divido entre photoshop, câmeras fotográficas, códigos,
          computadores e tarefas escolares (meu filho está no 4o ano).
        </p>
        <p>
          Atualmente, tenho mais de 200 casamentos no portfolio, curso Análise e
          Desenvolvimento de Sistemas e sou amante de barzinhos, uma boa
          conversa e cerveja gelada.
        </p>
        <p>
          Vai casar, desenvolver um site ou sair pra tomar cerveja (vinho,
          whisky, gin, vodka, rum não, café...)? Me chama!
        </p>
    </app-post>
  </article>

  <div class="border"></div>

  <article class="blog__title">
    <h1>Minha base</h1>
    <h2>Familia-êh, Familia-ah, FAMÍLIA!</h2>

    <app-personal-info [date]="'26 Ago 2024'" />
  </article>

  <article class="blog__content">
    <app-post
      [img01]="'BlogRafaFam05.jpeg'"
      [img02]="'BlogRafaFam06.jpeg'"
      [img03]="'BlogRafaFam02.jpeg'"
      [img04]="'BlogRafaFam01.jpeg'"
      [img05]="'BlogRafaFam03.jpeg'"
      [img06]="'BlogRafaFam04.jpeg'"
    >
      <p>
        Divido a vida com essas duas pessoas da foto: meu filho e meu namorado
        (e ainda tem a Luna, nossa gata! rs).
      </p>
      <p>
        Pedro tem 10 anos e é a maior razão pela qual tento sempre ser uma
        pessoa melhor!
      </p>
      <p>
        Sempre quis ser mãe. Desde pequenininha. Todas as minhas brincadeiras
        incluiam eu grávida ou com um bebê nos braços, rs. Então, quando
        descobri que estava grávida, foi uma surpresa sem ser...porque, lá no
        fundo, eu já esperava e idealizava isso há tempos... Pedro é filho do
        meu ventre e da minha alma!
      </p>
      <p>Já André veio sem eu esperar, rs.</p>
      <p>A gente se conheceu em um aplicativo de namoro.</p>
      <p>
        O fato é que eu detesto esse tipo de aplicativo. Havia instalado por
        pura vontade de me dissociar um pouco da realidade (que, na época,
        estava bem complicada pra mim). Mas ai achei ele.
      </p>
      <p>Ele de São Paulo e eu de Recife. Quais as chances disso dar certo?</p>
      <p>
        (Pausa para dois dias e 4 horas de conversa)...e ai a gente começou a
        namorar e hoje dividimos a vida, responsabiliades, alegrias e stress já
        há 2 anos! rs
      </p>
      <p>(...)</p>
      <p>
        Às vezes, a gente precisa apenas olhar ao nosso entorno pra perceber o
        quanto tudo aquilo que a gente desejou quando criança já é realidade e a
        gente, por pura displicência egoista, não nota. (:
      </p>
    </app-post>
  </article>

  <div class="border"></div>

  <article class="blog__title">
    <h1>Motivações</h1>
    <h2>Porque eu gostaria de participar da CCC e outros detalhes legais</h2>

    <app-personal-info [date]="'27 Ago 2024'" />
  </article>

  <article class="blog__content">
    <app-post
      [img01]="'BlogRafaJob05.jpeg'"
      [img02]="'BlogRafaJob06.jpeg'"
      [img03]="'BlogRafaJob01.jpeg'"
      [img04]="'BlogRafaJob03.jpeg'"
      [img05]="'BlogRafaJob04.jpeg'"
      [img06]="'BlogRafaJob02.jpeg'"
    >
      <p>
        Eu acredito que tudo na vida é questão de oportunidade. Não adianta nada
        você querer muito uma coisa se não existe oportunidade para colocar
        aquilo em prática. E oportunidades, muitas vezes, precisam ser criadas.
      </p>
      <p>
        Tem uma frase famosa que diz: "Quem não é visto não é lembrado". Então,
        como tu queres se destacar em algo se ficas sempre esperando que "te
        achem"?
      </p>
      <p>
        Fazer parte da comunidade Codigo Certo Coders, para mim, seria uma
        dessas oportunidades criadas. Oportunidade de visibilidade. De mostrar o
        meu trabalho...o que eu sei fazer. Mostrar, através da prática de um dia
        a dia profissional, que eu estou sim preparada para o mercado de
        trabalho! Que eu tenho sim as skills necessárias para tua empresa! Que
        eu posso sim agregar positivamente em vários aspectos!
      </p>
      <p>
        Para além do profissional agora, eu sou uma pessoa muito focada no que
        faço. Tenho metas bem claras e estou em constante movimento, buscando
        sempre novos conehcimentos, aprendizados, etc.
      </p>
      <p>
        Minha veia de humanas tem um pezinho na filosofia, sociologia e
        psicologia...nada profissional, mas eu gosto muito de estudar
        comportamenos...meu e dos outros. Leitura faz parte de muito tempo das
        minhas horas vagas.
      </p>
      <p>
        Amo meditar, momentos de auto-cuidado, exercício físico, silêncio e
        terapia...isso tudo para me manter saudável não só para mim como para os
        outros também.
      </p>
      <p>
        ...Tá, mas cê deve tá se perguntando por que eu falei isso tudo agora,
        né?
      </p>
      <p>
        Pelo simples fato de que acredito que profissionais, antes de serem
        profissionais, são seres humanos. Então não adianta tu contratar um
        profissional incrível se a parte humana dele está quebrada.
      </p>
      <p>
        Pensa comigo: Empresa são feitas de metas, certo? E quem cumpre as
        metas?
      </p>
      <p>
        Não é sobre sermos perfeitos. É sobre sermos humanos em constante
        evolução. (:
      </p>
    </app-post>
  </article>

  <div class="border"></div>
</section>
