.blog {
  display: flex;
  flex-direction: column;
  margin: 0 20rem;
  justify-content: center;
  font-family: "Inter", sans-serif;
  
  div:nth-of-type(1) {
    margin-top: 8rem;
  }

  &__title {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;

    h1 {
      font-size: 80px;
      color: #e53939;
      font-weight: lighter;
      letter-spacing: 1rem;
    }

    h3 {
      font-weight: lighter;
      letter-spacing: 0.3rem;
      line-height: 1.5rem;
      color: #505050;
      text-transform: uppercase;
      font-size: 14px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    

    app-post {
        display: flex;
        text-align: justify;
        
        line-height: 1.5rem;
        letter-spacing: 0.1rem;
        //margin: 1rem auto;
        width: 80%;
        
      
        p {
          margin: 10px;
        }
      }
      
  }
}

.border {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    
}