.personal-info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;

  &__photo {
    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 100px;
    }
  }

  &__details {
    line-height: 1.3rem;

    time {
      color: #505050;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 768px) {
  .personal-info {

    &__photo {
      img {
        width: 30px;
        height: 30px;
      }
    }

    &__details {
      line-height: 0.8rem;
      
      p {
        font-size: 12px;
      }

      time {
        font-size: 10px;
      }
    }
  }
}
