<div class="style">
<div class="photos">
  <div class="photo">
    <img [src]="'../../../../assets/images/' + img01" alt="" />
  </div>
  <div class="photo">
    <img [src]="'../../../../assets/images/' + img02" alt="" />
    <img [src]="'../../../../assets/images/' + img03" alt="" />
  </div>
  <div class="photo">
    <img [src]="'../../../../assets/images/' + img04" alt="" />
    <img [src]="'../../../../assets/images/' + img05" alt="" />
  </div>
  <div class="photo">
    <img [src]="'../../../../assets/images/' + img06" alt="" />
  </div>
</div>
<div class="text">
  <ng-content></ng-content>
</div>
</div>
