@import "../../../../styles.scss";

.gallery {
  &__photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 80%;
    overflow-x: hidden;
    box-sizing: border-box;
    height: 80vh;
    gap: 0.3rem;
    margin: auto;
  }

  &__photo {
    overflow: hidden;
    object-fit: cover;
    width: 100%;

    &__img01 {
      grid-column: 1 / 2;
      grid-row: 1 / 5;
      //border: 4px solid blue;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &__img02 {
      grid-column: 2 / 3;
      grid-row: 1/2;
      width: 100%;
      object-fit: cover;
      //border: 4px solid green;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__img03 {
      grid-column: 2 / 3;
      grid-row: 2 /4;
      width: 100%;
      height: auto;
      object-fit: cover;
      //border: 4px solid yellow;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__img04 {
      grid-column: 3 / 4;
      grid-row: 1 /2;
      width: 100%;
      height: auto;
      object-fit: cover;
      //border: 4px solid gray;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__img05 {
      grid-column: 4 / 4;
      grid-row: 1 /2;
      width: 100%;
      height: auto;
      object-fit: cover;
      //border: 4px solid purple;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__img06 {
      grid-column: 3 / 5;
      grid-row: 2 / 4;
      width: 100%;
      height: auto;
      object-fit: cover;
      //border: 4px solid cyan;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__text {
    width: 100vw;

    &__content {
      margin: auto;
      width: 80%;
      max-height: none !important;
      margin-top: 3rem;
      overflow: visible;

      &__button {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .gallery {
    width: 100%;

    &__photos {
      width: 100%;
    }

    &__text {
      width: 100%;

      &__content {
        width: 100%;
        margin-top: 3rem;

        &__button {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__photos {
      display: flex;
      height: auto;
    }

    &__photo {
      width: 100%;

      &__img01,
      &__img02,
      &__img03,
      &__img04,
      &__img05 {
        display: none;
      }

      &__img06 {
        display: flex;
        height: 35vh;

        img {
          display: flex;
          width: 80%;
          margin: auto;
        }
      }
    }

    &__text__content {
      width: 100%;
      margin-top: 2.5rem;
      transition: max-height 0.3s ease-in-out;

      &.expanded {
        max-height: 1000px;
      }

      &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;

        button {
          width: 150px;
          height: 40px;
          color: $red;
          background-color: #fff;
          border: 1px solid $red;
          border-radius: 7px;
          font-size: 16px;
          letter-spacing: 0.2rem;
          text-transform: uppercase;
        }
      }
    }
  }
}
