<section class="gallery">
  <div class="gallery__photos">
    <figure class="gallery__photo">
      <img [src]="'../../../../assets/images/' + img01" alt="" />
    </figure>
    <figure class="gallery__photo">
      <img [src]="'../../../../assets/images/' + img02" alt="" />
      <img [src]="'../../../../assets/images/' + img03" alt="" />
    </figure>
    <figure class="gallery__photo">
      <img [src]="'../../../../assets/images/' + img04" alt="" />
      <img [src]="'../../../../assets/images/' + img05" alt="" />
    </figure>
    <figure class="gallery__photo">
      <img [src]="'../../../../assets/images/' + img06" alt="" />
    </figure>
  </div>
  <article class="gallery__text">
    <ng-content></ng-content>
  </article>
</section>
